In [1]:
import pandas as pd
import numpy as np

In [2]:
cafe_Df=pd.read_csv("../data/dirty_cafe_sales.csv")

In [3]:
cafe_Df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [4]:
cafe_Df.isna().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [5]:
for i in cafe_Df.columns:
    null_rate= cafe_Df[i].isnull().sum()/len(cafe_Df)*100
    if null_rate >0:
        print( f'{i} null rate: {null_rate.round(2)}%')

Item null rate: 3.33%
Quantity null rate: 1.38%
Price Per Unit null rate: 1.79%
Total Spent null rate: 1.73%
Payment Method null rate: 25.79%
Location null rate: 32.65%
Transaction Date null rate: 1.59%

In [6]:
cafe_Df[["Quantity","Price Per Unit","Total Spent"]]=cafe_Df[["Quantity","Price Per Unit","Total Spent"]].apply(pd.to_numeric, errors="coerce")
cafe_Df[:5]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [7]:
print(cafe_Df["Total Spent"].unique())

[ 4.  12.   nan 10.  20.   9.  16.  15.  25.   8.   5.   3.   6.   2.
  1.   7.5  4.5  1.5]

In [8]:
cafe_Df[["Price Per Unit","Quantity"]].loc[1.0:"Nan"]

      Price Per Unit  Quantity
1                3.0       4.0
2                1.0       4.0
3                5.0       2.0
4                2.0       2.0
5                4.0       5.0
...              ...       ...
9995             2.0       2.0
9996             NaN       3.0
9997             2.0       4.0
9998             NaN       3.0
9999             4.0       3.0

[9999 rows x 2 columns]

In [9]:
cafe_Df["Price Per Unit"] = cafe_Df["Price Per Unit"].fillna(cafe_Df["Total Spent"] /cafe_Df["Quantity"])
cafe_Df.isna().sum()

Transaction ID         0
Item                 333
Quantity             479
Price Per Unit        38
Total Spent          502
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [10]:
cafe_Df["Quantity"]= cafe_Df["Quantity"].fillna(cafe_Df["Total Spent"] /cafe_Df["Price Per Unit"])

In [11]:
cafe_Df["Total Spent"]= cafe_Df["Total Spent"].fillna(cafe_Df["Price Per Unit"]* cafe_Df["Quantity"])
cafe_Df.isna().sum()

Transaction ID         0
Item                 333
Quantity              38
Price Per Unit        38
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [12]:
cafe_Df["Item"].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [13]:
cafe_Df.groupby("Item").first().reset_index

<bound method DataFrame.reset_index of          Transaction ID  Quantity  Price Per Unit  Total Spent  \
Item
Cake        TXN_4977031       4.0             3.0         12.0
Coffee      TXN_1961373       2.0             2.0          4.0
Cookie      TXN_4271903       4.0             1.0          4.0
ERROR       TXN_8915701       2.0             1.5          3.0
Juice       TXN_6769710       2.0             3.0          6.0
Salad       TXN_7034554       2.0             5.0         10.0
Sandwich    TXN_6699534       4.0             4.0         16.0
Smoothie    TXN_2602893       5.0             4.0         20.0
Tea         TXN_6650263       2.0             1.5          3.0
UNKNOWN     TXN_4433211       3.0             3.0          9.0

          Payment Method  Location Transaction Date
Item
Cake                Cash  In-store       2023-05-16
Coffee       Credit Card  Takeaway       2023-09-08
Cookie       Credit Card  In-store       2023-07-19
ERROR     Digital Wallet  In-store       2023-03-21
Juice               Cash  In-store       2023-02-24
Salad            UNKNOWN   UNKNOWN       2023-04-27
Sandwich            Cash   UNKNOWN       2023-10-28
Smoothie     Credit Card  In-store       2023-03-31
Tea                 Cash  Takeaway       2023-01-10
UNKNOWN            ERROR  Takeaway       2023-10-06  >

In [14]:
cafe_Df.memory_usage(deep=True)

Index                  132
Transaction ID      600000
Item                538983
Quantity             80000
Price Per Unit       80000
Total Spent          80000
Payment Method      515847
Location            486963
Transaction Date    584520
dtype: int64

In [15]:
print(cafe_Df['Item'].value_counts())

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

In [16]:
cafe_Df.describe()

          Quantity  Price Per Unit  Total Spent
count  9962.000000     9962.000000  9960.000000
mean      3.025597        2.947902     8.930924
std       1.420181        1.279759     6.004475
min       1.000000        1.000000     1.000000
25%       2.000000        2.000000     4.000000
50%       3.000000        3.000000     8.000000
75%       4.000000        4.000000    12.000000
max       5.000000        5.000000    25.000000

In [17]:
cafe_Df["Transaction Date"]=pd.to_datetime(cafe_Df["Transaction Date"],errors="coerce")
cafe_Df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [18]:
cafe_Df.replace(['ERROR','UNKNOWN'],np.nan, inplace=True)

In [48]:
cafe_Df['Transaction Date']= pd.to_datetime(cafe_Df['Transaction Date'],errors='coerce')

C:\Users\Miraj Gansi\AppData\Local\Temp\ipykernel_22888\1742546937.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cafe_Df['Transaction Date']= pd.to_datetime(cafe_Df['Transaction Date'],errors='coerce')

In [49]:
median_Date= cafe_Df['Transaction Date'].mean()
cafe_Df['Transaction Date']= cafe_Df['Transaction Date'].fillna(median_Date)

In [33]:
cat_col= ['Payment Method', 'Location']
for col in cat_col:
  cafe_Df[col]=cafe_Df[col].fillna(cafe_Df[col].mode()[0])

In [34]:
cafe_Df= cafe_Df.fillna(cafe_Df.mean(numeric_only=True))
cafe_Df.isna().sum()

Transaction ID          0
Item                    0
Quantity                0
Price Per Unit          0
Total Spent             0
Payment Method          0
Location                0
Transaction Date        0
Day                 10000
dtype: int64

In [35]:
cols_to_round = ['Price Per Unit', 'Quantity', 'Total Spent']
def round_to_half(x):
    return round(x *2) /2
for cols in cols_to_round:
    cafe_Df[cols]= cafe_Df[cols].apply(round_to_half)

In [36]:
cafe_Df['Price Per Unit'].unique()

array([2. , 3. , 1. , 5. , 4. , 1.5])

In [37]:
price_to_item = {
    2.0: 'Coffee',
    1.5: 'Tea',
    4.0: 'Sandwich',
    5.0: 'Salad',
    3.0: 'Cake',
    1.0: 'Cookie',
}

In [38]:
mask=  cafe_Df['Item'].isna() & cafe_Df['Price Per Unit'].notna()
cafe_Df.loc[mask,'Item'] = cafe_Df.loc[mask, 'Price Per Unit'].map(price_to_item)

In [39]:
cafe_Df.isna().sum()

Transaction ID          0
Item                    0
Quantity                0
Price Per Unit          0
Total Spent             0
Payment Method          0
Location                0
Transaction Date        0
Day                 10000
dtype: int64

In [ ]:
cafe_Df['Day']=cafe_Df['Transaction Date'].dt.day_name()
cafe_Df

AttributeError: Can only use .dt accessor with datetimelike values

In [46]:
print(cafe_Df['Transaction Date'].dtype)

object