In [4]:
import pandas as pd
import numpy as np
 
import fuzzywuzzy
from fuzzywuzzy import process
import charset_normalizer

d:\jupyter_notebook\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [14]:
df_prof = pd.read_csv('../data/pakistan_intellectual_capital.csv')

In [15]:
df_prof.head()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN

In [16]:
countires=df_prof['Country'].unique()
countires.sort()
countires

array([' Germany', ' New Zealand', ' Sweden', ' USA', 'Australia',
       'Austria', 'Canada', 'China', 'Finland', 'France', 'Greece',
       'HongKong', 'Ireland', 'Italy', 'Japan', 'Macau', 'Malaysia',
       'Mauritius', 'Netherland', 'New Zealand', 'Norway', 'Pakistan',
       'Portugal', 'Russian Federation', 'Saudi Arabia', 'Scotland',
       'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden',
       'Thailand', 'Turkey', 'UK', 'USA', 'USofA', 'Urbana', 'germany'],
      dtype=object)

In [17]:
df_prof['Country']= df_prof['Country'].str.lower()
df_prof['Country']= df_prof['Country'].str.strip()

In [18]:
matches = fuzzywuzzy.process.extract("south korea",countires, limit=10,scorer=fuzzywuzzy.fuzz.token_sort_ratio)
matches

[('South Korea', 100),
 ('SouthKorea', 48),
 ('Saudi Arabia', 43),
 ('Norway', 35),
 ('Ireland', 33),
 ('Portugal', 32),
 ('Singapore', 30),
 ('Netherland', 29),
 ('Macau', 25),
 ('USofA', 25)]

In [22]:
def replace_matches_column(df, columm, string_to_match, min_ratio= 47):
    strings = df[columm].unique()
    matches= fuzzywuzzy.process.extract(string_to_match, strings, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    close_matches=[matches[0] for matches in matches if matches [1] >= min_ratio]

    row_with_matches= df[columm].isin(close_matches)
    df.loc[row_with_matches, columm]= string_to_match

    print("All done")

In [23]:
replace_matches_column(df= df_prof ,columm='Country', string_to_match='South korea')

All done

In [24]:
countires = df_prof['Country'].unique()
countires.sort()
countires

array(['South korea', 'australia', 'austria', 'canada', 'china',
       'finland', 'france', 'germany', 'greece', 'hongkong', 'ireland',
       'italy', 'japan', 'macau', 'malaysia', 'mauritius', 'netherland',
       'new zealand', 'norway', 'pakistan', 'portugal',
       'russian federation', 'saudi arabia', 'scotland', 'singapore',
       'spain', 'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa',
       'usofa'], dtype=object)